<div class="home-div flex flex-col">
  <app-header></app-header>
  <div class="flex flex-col justify-center align-middle home-div p-10">
    <div class="lg:w-8/12 lg:pl-20 pl-10">
      <h1
        class="font-mono font-bold pt-20 lg:pt-0 text-xl lg:text-2xl tracking-wide text-purple-800 pb-6"
      >
        Hi, I'm
      </h1>
      <h1
        class="text-4xl font-black text-primary-900 dark:text-gray-100 sm:text-5xl sm:tracking-tight lg:text-7xl mb-6"
        x-typewriter.3s="['software developer','UI designer','Marvel fan','OSS advocate']"
      >
        Nicolò Casagrande
      </h1>
      <p class="max-w-xl lg:text-xl text-primary-700 tracking-wider">
        a Junior Full Stack Developer based in Trento, Italy. I can create Web
        Applications for
        <span class="text-purple-800 font-semibold">all your Needs</span>.
      </p>
      <div class="flex flex-wrap language-img pt-6">
        <img src="./assets/images/html-5_5968267.png" alt="" />
        <img src="./assets/images/css-3_5968242.png" alt="" />
        <img src="./assets/images/js_5968292.png" alt="" />
        <img src="./assets/images/github_733609.png" alt="" />
        <img src="./assets/images/bootstrap-5-1.svg" alt="" />
        <img src="./assets/images/tailwind-css-2.svg" alt="" />
        <img src="./assets/images/laravel-3.svg" alt="" />
        <img src="./assets/images/Vue.js_Logo_2.svg" alt="" />
        <img src="./assets/images/angular-icon.svg" alt="" />
      </div>
      <button
        class="py-3 px-5 text-center text-white font-medium rounded-lg bg-purple-800 mt-10 tracking-widest"
        routerLink="/works"
      >
        See my works
      </button>
    </div>
  </div>
</div>
